{{> head}}

    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>About...</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta porro dolorem, molestiae quis quos omnis, quo perspiciatis vel ipsa iste deleniti fuga optio, in doloribus quasi rerum voluptatibus et unde!
            </p>
        </div>
        <div class="col-4">
            <img src="assets/img/about.png" class="img-thumbnail">
        </div>
    </div>

{{> footer}}